@import url('https://fonts.googleapis.com/css?family=Poppins');
body {
    margin: 0;
    min-width: 250px;
    font-family: 'Poppins', sans-serif;
}

* {
    box-sizing: border-box;
}

.flag {
    width: 2%;
}

.btn-primary {
    background-color: #025f18;
    color: #fff;
}

.btn-primary:hover {
    background-color: #ffc107;
}

footer {
    padding-top: 25px;
}